/* Global Styles */
body {
  background-color: #ffe6f8;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  width: 100%;
}

/* Header Styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.main-header {
  background-image: url('/static/images/EriMar_Logo.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.titulo-servicio-container {
  padding: 2rem;
  border-radius: 12px;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.nav-links {
  flex: 13;
  display: flex;
  justify-content: center;
  gap: 5rem;
  list-style: none;
  margin: 0;
  font-weight: bold;
}

.nav-links li a {
  text-decoration: none;
  color: #6c2a6a;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #6c2a6a;
}

.titulo-servicio {
  text-align: center;
  font-size: 2.5rem;
  color: #6c2a6a;
  margin-bottom: 1rem;
  font-weight: bold;
}

.titulo-servicio p {
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: 300px;
  }

  .nav-links {
    flex: 10;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cta-container {
    margin-top: 1rem;
    justify-content: center;
  }

  .btn-reserva {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
