
/* Global Styles */
body {
  background-color: #ffe6f8;
  color: #333;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main Styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: .8rem;
}

/* Header Styles */
.main-header {
  background-color: #ffedfa;
  padding: 1rem 2rem;
  border-bottom: 2px solid #ffd1f2;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.logo-centered {
  text-align: left;
  margin-bottom: 1rem;
}

.logo {
  width: 180px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #6c2a6a;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f9c5ff;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .logo {
    margin-bottom: 1rem;
  }
}

/* init section */
.inicio {
  width: 100vw;
  height: 50vh;
  background-image: url('/static/images/EriMar.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inicio-overlay {
  padding: 2rem;
  border-radius: 15px;
  max-width: 90%;
}

.inicio h1 {
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: 600;
  font-family:'Libre Baskerville', 'Georgia', serif;
}

.inicio p {
  font-size: 2rem;
  color: #ffffff;
  /* Opciones formales:
    A: 'Merriweather', 'Georgia', 'Times New Roman', serif
    B: 'Playfair Display', 'Georgia', serif
    C: 'Libre Baskerville', 'Georgia', serif
  */
  font-family:'Libre Baskerville', 'Georgia', serif;
}

@media (max-width: 768px) {
  .inicio h1 {
    font-size: 1.5rem;
  }

  .inicio p {
    font-size: 1rem;
  }

  .inicio {
    height: auto;
    padding: 2rem 1rem;
  }
}

