
/* Global Styles */
body {
  background-color: #ffe6f8;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  width: 100%;
}

/* Main Styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Header Styles */
.main-header {
  border-bottom: 2px solid #ffd1f2;
  width: 100%;
  height: 200px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.logo-centered {
  flex: 1;
  max-height: 300px;
}

.nav-links {
  flex: 13;
  display: flex;
  justify-content: center;
  gap: 5rem;
  list-style: none;
  margin: 0;
  font-weight: bold;
}

.nav-links li a {
  text-decoration: none;
  color: #6c2a6a;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f9c5ff;
}

.cta-container {
  display: flex;
  justify-content: center;
}

.btn-reserva {
  background-color: #fac8e9;
  color: #6c2a6a;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-reserva:hover {
  background-color: #ffb2fb;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: 300px;
  }

  .nav-links {
    flex: 10;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cta-container {
    margin-top: 1rem;
    justify-content: center;
  }

  .btn-reserva {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

/* inicio section */
.inicio {
  width: 100%;
  background-image: url('/static/images/EriMar.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid #6c2a6a;
}

.inicio-overlay {
  padding: 2rem;
  border-radius: 15px;
  max-width: 100%;
}

.inicio h1 {
  font-size: 4rem;
  color: #ffedfa;
  margin-bottom: 1rem;
}

.inicio p {
  font-size: 1.5rem;
  color: #ffedfa;
}

@media (max-width: 768px) {
  .inicio {
    padding: 2rem 1rem;
  }

  .inicio h1 {
    font-size: 1.2;
  }

  .inicio p {
    font-size: 0.5rem;
  }
}

/* Nosotros section */
.nosotros {
  padding: 4rem 2rem;
}

.nosotros-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
}

.nosotros-texto {
  flex: 1;
  text-align: center;
}

.nosotros-texto h2 {
  border-bottom: 2px solid #6c2a6a;
  color: #6c2a6a;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.nosotros-texto p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.nosotros-imagen {
  flex: 1;
  text-align: right;
}

.nosotros-imagen img {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .nosotros-container {
    flex-direction: column;
    text-align: center;
  }

  .nosotros-texto {
    text-align: center;
  }

  .nosotros-imagen {
    text-align: center;
    margin-top: 1.5rem;
  }
}

/* servicios section */
.servicios {
  background-color: #ffedfa;
  padding: 3rem 1rem;
  width: 100%;
}

.servicios h2 {
  border-bottom: 2px solid #6c2a6a;
  color: #6c2a6a;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.servicios-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.servicio {
  padding: 2rem;
  max-width: 300px;
  width: 100%;
  transition: transform 0.3s ease;
  position : relative;
  text-align: center;
  margin: 0 auto;
}

.servicio:hover {
  transform: translateY(-5px);
}

.servicio img {
  width: 250px;
  height: auto;
  margin-bottom: 1rem;
  justify-content: center;
  border-radius: 12px;
  margin-bottom: 0.5rem;
}

.servicio h3 {
  font-size: 1.5rem;
  color: #6c2a6a;
  margin-bottom: 1rem;
}

.servicio-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.servicio-link:hover .servicio {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .servicios-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .servicio {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .servicio img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
  }

  .servicio h3 {
    text-align: center;
  }
}

/* Promo section */
.promociones {
  padding: 3rem 1rem;
  text-align: center;
}

.promociones h2 {
  border-bottom: 2px solid #6c2a6a;
  color: #6c2a6a;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.promociones-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.promo-card {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 1rem;
  max-width: 300px;
  flex: 1;
  transition: transform 0.3s ease;
}

.promo-card:hover {
  transform: translateY(-5px);
}

.promo-card h3 {
  font-size: 1.5rem;
  color: #6c2a6a;
  margin-bottom: 1rem;
}

.promo-card p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.precio {
  font-size: 0.8rem;
  display: block;
  font-weight: bold;
  color: #6c2a6a;
  margin-bottom: 1rem;
}

.btn-promo {
  background-color: #fac8e9;
  color: #6c2a6a;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-promo:hover {
  background-color: #ffb2fb;
}

.vermas-promos-container {
  margin-top: 2rem;
  text-align: center;
}

.promos-link {
  background-color: #fac8e9;
  color: #6c2a6a;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.promos-link:hover {
  background-color: #ffb2fb;
}


@media (max-width: 768px) {
  .promociones-container {
    flex-direction: column;
    align-items: center;
  }

  .promo-card {
    max-width: 100%;
  }
}

/* ubication section */
.ubicacion {
  background-color: #ffedfa;
  padding: 3rem 1rem;
  text-align: center;
  width: 100%;
}

.ubicacion h2 {
  border-bottom: 2px solid #6c2a6a;
  color: #6c2a6a;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  text-align: right;
}

.ubicacion-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.ubicacion-texto {
  flex: 1;
  font-size: 1.5rem;
  color: #333;
}

.ubicacion-mapa {
  flex: 2;
}

@media (max-width: 768px) {
  .ubicacion-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ubicacion-mapa {
    width: 100%;
    margin-top: 1.5rem;
  }
}

/*contact section */
.contacto {
  padding: 3rem 1rem;
  text-align: center;
  color: #333;
}

.contacto h2 {
  border-bottom: 2px solid #6c2a6a;
  color: #6c2a6a;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.iconos-redes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.iconos-redes a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: transform 0.3s ease, color 0.3s ease;
}

.iconos-redes a:hover {
  transform: translateY(-5px);
  color: #d46fa3;
}

.iconos-redes img {
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease;
}

.iconos-redes a:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .iconos-redes {
    flex-direction: column;
    gap: 1.5rem;
  }
}

/* Footer Styles */
footer {
  background-color: #ffedfa;
  padding: 1.5rem;
  text-align: center;
  color: #6c2a6a;
  border-top: 2px solid #ffd1f2;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

.menu-servicios {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffe6f8;
  border: 1px solid #ffd1f2;
  border-radius: 8px;
  padding: 0.5rem 0;
  list-style: none;
  display: none;
  z-index: 1000;
  min-width: 160px;
}

.submenu li {
  padding: 0.5rem 1rem;
}

.submenu li a {
  color: #6c2a6a;
  text-decoration: none;
  display: block;
}

.submenu li a:hover {
  background-color: #fac8e9;
  border-radius: 4px;
}

/* Mostrar submenú al pasar el mouse */
.menu-servicios:hover .submenu {
  display: block;
}

.menu-servicios:focus-within .submenu {
  display: block;
}

.menu-promociones {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffe6f8;
  border: 1px solid #ffd1f2;
  border-radius: 8px;
  padding: 0.5rem 0;
  list-style: none;
  display: none;
  z-index: 1000;
  min-width: 160px;
}

.submenu li {
  padding: 0.5rem 1rem;
}

.submenu li a {
  color: #6c2a6a;
  text-decoration: none;
  display: block;
}

.submenu li a:hover {
  background-color: #fac8e9;
  border-radius: 4px;
}

/* Mostrar submenú al pasar el mouse */
.menu-promociones:hover .submenu {
  display: block;
}

/* Para móvil: abrir al tocar */
.menu-promociones:focus-within .submenu {
  display: block;
}

.menu-contacto {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffe6f8;
  border: 1px solid #ffd1f2;
  border-radius: 8px;
  padding: 0.5rem 0;
  list-style: none;
  display: none;
  z-index: 1000;
  min-width: 160px;
}

.submenu li {
  padding: 0.5rem 1rem;
}

.submenu li a {
  color: #6c2a6a;
  text-decoration: none;
  display: block;
}

.submenu li a:hover {
  background-color: #fac8e9;
  border-radius: 4px;
}

/* Mostrar submenú al pasar el mouse */
.menu-contacto:hover .submenu {
  display: block;
}

/* Para móvil: abrir al tocar */
.menu-contacto:focus-within .submenu {
  display: block;
}
