body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  background-image: url('/static/studio.jpg'); /* tu foto del estudio */
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: white;
}

.hero .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* oscurece la foto para resaltar texto */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}
