<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos</title>
    <link rel="stylesheet" href="/static/css/services_styles.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="titulo-service-container">
        <h1 class="titulo-service">CURSOS</h1>
      </div>
    </header>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="{{ url_for('index') }}">INICIO</a></li>
        <li><a href="{{ url_for('index') }}#weare">NOSOTROS</a></li>
        <li class="menu-services">
          <a href="#services">SERVICIOS</a>
          <ul class="submenu">
            <li><a href="{{ url_for('service_nails') }}">UÑAS</a></li>
            <li><a href="{{ url_for('service_lashes') }}">CEJAS Y PESTAÑAS</a></li>
            <li><a href="{{ url_for('service_capilar') }}">CAPILARES</a></li>
            <li><a href="{{ url_for('index') }}#services">VER TODO</a></li>
          </ul>
        </li>
        <li class="menu-promos">
          <a href="#promos">PROMOCIONES</a>
          <ul class="submenu">
            <li>
              <a href="{{ url_for('index') }}#promos">PROMOCIONES</a>
            </li>
            <li><a href="{{ url_for('promos') }}">VER TODO</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('courses') }}">CURSOS</a></li>
        <li class="menu-contact">
          <a href="{{ url_for('index') }}#contact">CONTACTO</a>
          <ul class="submenu">
            <li>
              <a href="https://www.instagram.com/erimar_studio?igsh=MTY3dG0ZXVpN3g3ZQ==" target="_blank"
                >Instagram</a
              >
            </li>
            <li>
              <a href="https://www.facebook.com/share/1EdKyCcACA/" target="_blank"
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://wa.me/524271668565" target="_blank">WhatsApp</a>
            </li>
            <li><a href="{{ url_for('index') }}#contact">CONTACTO</a></li>
          </ul>
        </li>
      </ul>
      <div class="cta-container">
        <a
          href="https://wa.me/524271668565?text=Hola%20quiero%20mas%20informacion%20sobre%20el%20curso"
          target="_blank"
          class="btn-reserva"
        >
          Reservar curso
        </a>
      </div>
    </nav>
    <main>
      <section class="promos" id="promos">
        <div class="promos-container">
          <div class="promo-card">
            <h3>Curso pestañas</h3>
            <img src="/static/images/curso_pestañas.jpg" alt="curso pestañas"/>
            <div class="cta-container">
              <a
                href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20el%20curso%20de%20pestañas"
                class="btn-promo"
              >
                Quiero este curso
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="main-footer">
      <p>&copy; 2024 EriMar Studio. Todos los derechos reservados.</p>
    </footer>
    <script>
      document
        .querySelectorAll(
          ".menu-services > a, .menu-promos > a, .menu-contact > a"
        )
        .forEach((link) => {
          link.addEventListener("click", function (e) {
            e.preventDefault();
            const submenu = this.nextElementSibling;

            if (submenu.style.display === "block") {
              submenu.style.display = "none";
              return;
            }

            document.querySelectorAll(".submenu").forEach((sub) => {
              sub.style.display = "none";
            });

            submenu.style.display = "block";
          });
        });
    </script>
  </body>
</html>
