<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>EriMar Studio</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header class="main-header">
      <div class="logo-centered">
        <img
          src="{{ url_for('static', filename='images/EriMar_Logo.webp') }}"
          alt="EriMar Studio"
          class="logo"
          width="250"
          height="150"
          loading="lazy"
          srcset="{{ url_for('static', filename='images/EriMar_Logo.webp') }} 1x, {{ url_for('static', filename='images/EriMar_Logo.webp') }} 2x"
        />
      </div>
      <nav class="navbar">
        <ul class="nav-links">
          <li><a href="#inicio">INICIO</a></li>
          <li><a href="#nosotros">NOSOTROS</a></li>
          <li class="menu-servicios">
            <a href="#servicios">SERVICIOS</a>
            <ul class="submenu">
              <li><a href="{{ url_for('servicio_uñas') }}">Uñas</a></li>
              <li><a href="{{ url_for('servicio_pestañas') }}">Cejas y Pestañas</a></li>
              <li><a href="{{ url_for('servicio_capilares') }}">Capilares</a></li>
              <li><a href="{{ url_for('index') }}#servicios">Ver todos</a></li>
            </ul>
          </li>
          <li class="menu-promociones">
            <a href="#promociones">PROMOCIONES</a>
            <ul class="submenu">
              <li>
                <a href="{{ url_for('index') }}#promociones">Promociones</a>
              </li>
              <li><a href="{{ url_for('promociones') }}">Ver todas</a></li>
            </ul>
          </li>
          <li class="menu-contacto">
            <a href="{{ url_for('index') }}#contacto">CONTACTO</a>
            <ul class="submenu">
              <li>
                <a href="https://www.instagram.com/erimar_studio?igsh=MTY3dG0ZXVpN3g3ZQ==" target="_blank"
                  >Instagram</a
                >
              </li>
              <li>
                <a href="https://www.facebook.com/share/1EdKyCcACA/" target="_blank"
                  >Facebook</a
                >
              </li>
              <li>
                <a href="https://wa.me/524271668565" target="_blank"
                  >WhatsApp</a
                >
              </li>
              <li><a href="{{ url_for('index') }}#contacto">Contacto</a></li>
            </ul>
          </li>
        </ul>
        <div class="cta-container">
          <a
            href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20una%20cita%20en%20EriMar%20Studio"
            class="btn-reserva"
          >
            Reservar cita
          </a>
        </div>
      </nav>
    </header>
    <main>
      <section class="inicio" id="inicio">
        <div class="inicio-overlay">
          <h1>EN ERIMAR STUDIO ESTAMOS PARA CONSENTIRTE</h1>
          <p>Tu belleza y cuidado personal, es nuestro objetivo principal</p>
        </div>
      </section>
      <section class="nosotros" id="nosotros">
        <div class="nosotros-container">
          <div class="nosotros-texto">
            <h2>NOSOTROS</h2>
            <p>
              En <strong>EriMar Studio</strong> nos enfocamos en consentirte y
              brindarte servicios de calidad. Con un ambiente cálido y un equipo
              apasionado por el cuidado personal.
            </p>
            <p>
              Desde Uñas realzando la belleza de tus manos, Pestañas que hacen
              relucir tu mirada, y hasta tratamientos capilares dando luz a tu
              cabello, cada detalle está pensado para que vivas un momento de
              relajación y crezca tu confianza.
            </p>
          </div>
          <div class="nosotros-imagen">
            <img src="/static/images/EriMar.jpg" alt="Nuestro estudio" />
          </div>
        </div>
      </section>
      <section class="servicios" id="servicios">
        <h2>NUESTROS SERVICIOS</h2>
        <div class="servicios-container">
          <a href="{{ url_for('servicio_uñas') }}" class="servicio-link">
            <div class="servicio">
              <img src="/static/images/Uñas.jpeg" alt="Uñas" />
              <h3>UÑAS</h3>
            </div>
          </a>
          <a href="{{ url_for('servicio_pestañas') }}" class="servicio-link">
            <div class="servicio">
              <img src="/static/images/Pestañas.jpeg" alt="Pestañas" />
              <h3>CEJAS Y PESTAÑAS</h3>
            </div>
          </a>
          <a href="{{ url_for('servicio_capilares') }}" class="servicio-link">
            <div class="servicio">
              <img src="/static/images/Capilares.jpeg" alt="Capilares" />
              <h3>CAPILARES</h3>
            </div>
          </a>
        </div>
      </section>
      <section class="promociones" id="promociones">
        <h2>PROMOCIONES DL MES</h2>
        <div class="promociones-container">
          <div class="promo-card">
            <h3>Paquete Mirada Perfecta</h3>
            <img src="/static/images/Paquete_mirada_perfecta.jpeg" alt="Paquete_mirada_perfecta"/>
            <div class="cta-container">
              <a
                href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20un%20paquete%20mirada%20perfecta"
                class="btn-promo"
              >
                Quiero esta promo
              </a>
            </div>
          </div>
          <div class="promo-card">
            <h3>Paquete Amor Propio</h3>
            <img src="/static/images/Paquete_amor_propio.jpeg" alt="Paquete_amor_propio"/>
            <a
              href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20un%20paquete%20amor%20propio"
              class="btn-promo"
            >
              Quiero esta promo
            </a>
          </div>
          <div class="promo-card">
            <h3>Paquete Love Total</h3>
            <img src="/static/images/Paquete_love_total.jpeg" alt="Paquete_love_total"/>
            <a
              href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20un%20paquete%20love%20total"
              class="btn-promo"
            >
              Quiero esta promo
            </a>
          </div>
        </div>
        <div class="vermas-promos-container">
          <a href="{{ url_for('promociones') }}" class="promos-link">
            Ver todas
          </a>
        </div>
      </section>
      <section class="ubicacion" id="ubicacion">
        <h2>ENCUENTRANOS EN:</h2>
        <div class="ubicacion-container">
          <div class="ubicacion-texto">
            <p>
              <strong
                >Av. Pablo Cabrera, Col Centro, San Juan del Río, Qro,
                México</strong
              >
            </p>
            <p>Visítanos y vive la experiencia en EriMar Studio.</p>
            <a href="https://maps.app.goo.gl/MZTjKYDnnuxyWogG8" class="btn-mapa"
              >📍 Ver en Google Maps</a
            >
          </div>
        </div>
      </section>
      <section class="contacto" id="contacto">
        <h2>CONTACTANOS Y SIGUENOS EN REDES SOCIALES</h2>
        <p>Visitanos, regalanos tu like y comparte tu experiencia.</p>
        <div class="iconos-redes">
          <a
            href="https://www.instagram.com/erimar_studio?igsh=MTY3dG0ZXVpN3g3ZQ=="
            aria-label="Instagram"
          >
            <img
              src="{{ url_for('static', filename='images/instagram.webp') }}"
              alt="Instagram"
              width="32"
              height="32"
              loading="lazy"
            />
            <span>Instagram</span>
          </a>
          <a
            href="https://www.facebook.com/share/1EdKyCcACA/"
            aria-label="Facebook"
          >
            <img
              src="{{ url_for('static', filename='images/facebook.webp') }}"
              alt="Facebook"
              width="32"
              height="32"
              loading="lazy"
            />
            <span>Facebook</span>
          </a>
          <a href="https://wa.me/524271668565" aria-label="WhatsApp">
            <img
              src="{{ url_for('static', filename='images/whatsapp.webp') }}"
              alt="WhatsApp"
              width="32"
              height="32"
              loading="lazy"
            />
            <span>WhatsApp</span>
          </a>
        </div>
      </section>
    </main>
    <footer class="main-footer">
      <p>&copy; 2026 EriMar Studio - erimarstudio.com</p>
    </footer>
    <script>
      document
        .querySelectorAll(
          ".menu-servicios > a, .menu-promociones > a, .menu-contacto > a"
        )
        .forEach((link) => {
          link.addEventListener("click", function (e) {
            e.preventDefault();
            const submenu = this.nextElementSibling;

            if (submenu.style.display === "block") {
              submenu.style.display = "none";
              return;
            }

            document.querySelectorAll(".submenu").forEach((sub) => {
              sub.style.display = "none";
            });

            submenu.style.display = "block";
          });
        });
    </script>
  </body>
</html>
