<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>EriMar Studio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class = "main-header">
        <div class="logo-centered">
            <img src="{{ url_for('static', filename='images/EriMar_Logo.webp') }}" alt="EriMar Studio" class="logo" width="200" height="100" loading="lazy"
                srcset="{{ url_for('static', filename='images/EriMar_Logo.webp') }} 1x, {{ url_for('static', filename='images/EriMar_Logo.webp') }} 2x">
        </div>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="#inicio">INICIO</a></li>
                <li><a href="#nosotros">NOSOTROS</a></li>
                <li><a href="#servicios">SERVICIOS</a></li>
                <li><a href="#promociones">PROMOCIONES</a></li>
                <li><a href="#contacto">CONTACTO</a></li>
            </ul>
            <div class="cta-container">
            <a href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20una%20cita%20en%20EriMar%20Studio"
                target="_blank"
                class="btn-reserva">
                Reservar cita
            </a>
            </div>
        </nav>
    </header>
  <main>
    <section class="inicio" id="inicio">
        <div class="inicio-overlay">
            <h1>EN ERIMAR STUDIO ESTAMOS PARA CONSENTIRTE</h1>
            <p>Tu belleza y cuidado personal, es nuestro objetivo principal</p>
        </div>
    </section>
    <section class="nosotros" id="nosotros">
        <div class="nosotros-container">
            <div class="nosotros-texto">
            <h2>NOSOTROS</h2>
            <p>En <strong>EriMar Studio</strong> nos enfocamos en consentirte y brindarte servicios de calidad.
                Con un ambiente cálido y un equipo apasionado por el cuidado personal.
            </p>
            <p>Desde Uñas realzando la belleza de tus manos, Pestañas que hacen relucir tu mirada, y hasta tratamientos capilares dando luz a tu cabello,
                cada detalle está pensado para que vivas un momento de relajación y crezca tu confianza.
            </p>
        </div>
        <div class="nosotros-imagen">
            <img src="/static/images/EriMar.jpg" alt="Nuestro estudio">
        </div>
        </div>
    </section>
    <section class="servicios" id="servicios">
        <h2>NUESTROS SERVICIOS</h2>
            <div class="servicios-container">
                <div class="servicio">
                    <img src="/static/images/Uñas.webp" alt="Uñas">
                    <h3>UÑAS</h3>
                    <div class="vermas-uñas-container">
                    <a href="#vermas-uñas" class="btn-vermas-uñas">Ver más</a>
            </div>
                </div>
                <div class="servicio">
                    <img src="/static/images/Pestañas.webp" alt="Pestañas">
                    <h3>PESTAÑAS</h3>
                    <div class="vermas-pestanas-container">
                <a href="#vermas-pestanas" class="btn-vermas-pestanas">Ver más</a>
            </div>
                </div>
                <div class="servicio">
                    <img src="/static/images/Capilares.webp" alt="Capilares">
                    <h3>CAPILARES</h3>
                    <div class="vermas-capilares-container">
                    <a href="#vermas-capilares" class="btn-vermas-capilares">Ver más</a>
                </div>
            </div>
    </section>
    <section class="promociones" id="promociones">
        <h2>PROMOCIONES</h2>
            <div class="promociones-container">
                <div class="promo-card">
                    <h3>✨ Paquete Uñas + Pestañas</h3>
                    <p>Disfruta de un combo especial para manos y mirada.</p>
                    <span class="precio">Sólo $600 MXN</span>
                    <div class="cta-container">
                    <a href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20un%20paquete%20uñas%20mas%20pestasñas"
                        target="_blank"
                        class="btn-promo">
                        Reservar cita
                    </a>
                    </div>
                </div>
                <div class="promo-card">
                    <h3>💆 Tratamiento Capilar</h3>
                    <p>Cambia tu estilo de cabello con un 20% de descuento en keratinas.</p>
                    <span class="precio">Antes $600 MXN, ahora $480 MXN</span>
                    <a href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20una%20promo%20de%20keratina"
                        target="_blank"
                        class="btn-promo">
                        Reservar cita
                    </a>
                    </div>
                </div>
                <div class="promo-card">
                    <h3>🎀 Promoción de Bienvenida</h3>
                    <p>Primera cita con 10% de descuento en cualquier servicio.</p>
                    <span class="precio">Aplica en tu primera visita</span>
                    <a href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20una%20promo%20de%20bienvenida"
                        target="_blank"
                        class="btn-promo">
                        Reservar cita
                    </a>
                    </div>
                </div>
            </div>
    </section>
    <section class="ubicacion" id="ubicacion">
        <h2>ENCUENTRANOS EN: </h2>
        <div class="ubicacion-container">
            <div class="ubicacion-texto">
            <p><strong>Av. Pablo Cabrera, Col Centro, San Juan del Río, Qro, México</strong></p>
            <p>Visítanos y vive la experiencia en EriMar Studio.</p>
            <a href="https://maps.app.goo.gl/MZTjKYDnnuxyWogG8" target="_blank" class="btn-mapa">📍 Ver en Google Maps</a>
            </div>
        </div>
    </section>
    <section class="contacto" id="contacto">
        <h2>CONTACTANOS Y SIGUENOS EN REDES SOCIALES</h2>
        <p>Visitanos, regalanos tu like y comparte tu experiencia.</p>
            <div class="iconos-redes">
                <a href="https://www.instagram.com/erimar_studio?igsh=MTY3dG0ZXVpN3g3ZQ==" target="_blank" aria-label="Instagram">
                <img src="{{ url_for('static', filename='images/instagram.webp') }}" alt="Instagram" width="32" height="32" loading="lazy">
                <span>Instagram</span>
                </a>
                <a href="https://www.facebook.com/share/1EdKyCcACA/" target="_blank" aria-label="Facebook">
                <img src="{{ url_for('static', filename='images/facebook.webp') }}" alt="Facebook" width="32" height="32" loading="lazy">
                <span>Facebook</span>
                </a>
                <a href="https://wa.me/524271668565" target="_blank" aria-label="WhatsApp">
                <img src="{{ url_for('static', filename='images/whatsapp.webp') }}" alt="WhatsApp" width="32" height="32" loading="lazy">
                <span>WhatsApp</span>
                </a>
            </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2026 EriMar Studio - erimarstudio.com</p>
  </footer>
</body>
</html>
