<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>EriMar Studio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="hero">
    <div class="overlay">
        <img src="{{ url_for('static', filename='images/EriMar_Logo.webp') }}" alt="EriMar Studio" class="logo" width="500" height="250" loading="lazy"
        srcset="{{ url_for('static', filename='images/EriMar_Logo.webp') }} 1x, {{ url_for('static', filename='images/EriMar_Logo.webp') }} 2x">
      <h1>Bienvenida a EriMar Studio</h1>
      <p>En EriMar studio estamos para concentirte</p>
    </div>
  </header>
  <main>
     <section class="intro">
      <h2>Bienvenida a EriMar Studio</h2>
      <h2>Elige tu servicio</h2>
      <div class="servicios-grid">
        <a href="{{ url_for('rutas.servicios_pestañas', servicio_id=1) }}" class="servicios-card">
        <img src="{{ url_for('static', filename='images/Pestañas.webp') }}" alt="Pestañas" width="200" height="100" loading="lazy">
        <span>Aplicación de pestañas</span>
        </a>
        <a href="{{ url_for('rutas.servicios_uñas', servicio_id=2) }}" class="servicios-card">
        <img src="{{ url_for('static', filename='images/Uñas.webp') }}" alt="Uñas" width="200" height="100" loading="lazy">
        <span>Aplicación de uñas</span>
        </a>
        <a href="{{ url_for('rutas.servicios_capilares', servicio_id=3) }}" class="servicios-card">
        <img src="{{ url_for('static', filename='images/Capilares.webp') }}" alt="Capilares" width="200" height="100" loading="lazy">
        <span>Tratamientos Capilares</span>
        </a>
      </div>
    </section>
    <section class="redes-sociales">
        <h3>Síguenos en redes</h3>
            <div class="iconos-redes">
                <a href="https://www.instagram.com/erimar_studio?igsh=MTY3dG0ZXVpN3g3ZQ==" target="_blank" aria-label="Instagram">
                    <img src="{{ url_for('static', filename='images/instagram.webp') }}" alt="Instagram" width="32" height="32" loading="lazy">
                        <span>Instagram</span>
                </a>
                <a href="https://www.facebook.com/share/1EdKyCcACA/" target="Facebook" aria-label="Facebook">
                    <img src="{{ url_for('static', filename='images/facebook.webp') }}" alt="Facebook" width="32" height="32" loading="lazy">
                        <span>Facebook</span>
                </a>
                <a href="https://wa.me/524271668565" target="WhatsApp" aria-label="WhatsApp">
                    <img src="{{ url_for('static', filename='images/whatsapp.webp') }}" alt="WhatsApp" width="32" height="32" loading="lazy">
                        <span>WhatsApp</span>
                </a>
            </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2026 EriMar Studio - erimarstudio.com</p>
  </footer>
</body>
</html>
