<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uñas</title>
  <link rel="stylesheet" href="/static/css/uñas_styles.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <header class = "main-header">
    <div class="titulo-servicio-container">
      <h1 class="titulo-servicio">Nuestros Servicios de Uñas</h1>
      <p>Como quieres resaltar la belleza de tus manos?</p>
    </div>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}#inicio">INICIO</a></li>
            <li><a href="{{ url_for('index') }}#nosotros">NOSOTROS</a></li>
            <li><a href="{{ url_for('index') }}#servicios">SERVICIOS</a></li>
            <li><a href="{{ url_for('index') }}#promociones">PROMOCIONES</a></li>
            <li><a href="{{ url_for('index') }}#contacto">CONTACTO</a></li>
        </ul>
        <div class="cta-container">
        <a href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20una%20cita%20en%20EriMar%20Studio"
            target="_blank"
            class="btn-reserva">
            Reservar cita
        </a>
        </div>
    </nav>
  </header>
  <main>
  <section class="servicio-detalle">
    <img src="/static/images/uñas.jpg" alt="Servicio de uñas">
    <h2>¿Qué incluye?</h2>
    <ul>
      <li>Manicure y pedicure</li>
      <li>Aplicación de gel</li>
      <li>Decoración personalizada</li>
      <li>Tratamiento fortalecedor</li>
    </ul>
    <p><strong>Duración:</strong> 90 minutos</p>
    <p><strong>Precio:</strong> $350 MXN</p>
    <a href="/contacto.html" class="btn">Reservar cita</a>
  </section>
  </main>
  <footer class="main-footer">
    <p>&copy; 2024 EriMar Studio. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
