<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Promociones</title>
  <link rel="stylesheet" href="/static/css/uñas_styles.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <header class = "main-header">
    <div class="logo-container">
      <img src="{{ url_for('static', filename='images/EriMar_Logo.webp') }}" alt="EriMar Studio" class="logo" width="200" height="100" loading="lazy"
        srcset="{{ url_for('static', filename='images/EriMar_Logo.webp') }} 1x, {{ url_for('static', filename='images/EriMar_Logo.webp') }} 2x">
    </div>
    <nav class="navbar">
            <ul class="nav-links">
                <li><a href="#inicio">INICIO</a></li>
                <li><a href="#nosotros">NOSOTROS</a></li>
                <li><a href="#servicios">SERVICIOS</a></li>
                <li><a href="#promociones">PROMOCIONES</a></li>
                <li><a href="#contacto">CONTACTO</a></li>
            </ul>
            <div class="cta-container">
            <a href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20una%20cita%20en%20EriMar%20Studio"
                target="_blank"
                class="btn-reserva">
                Reservar cita
            </a>
            </div>
        </nav>
    <div class="titulo-servicio-container">
      <h1 class="titulo-servicio">Nuestras Promociones</h1>
      <p>Cual eliges?</p>
    </div>
  </header>

  <section class="promociones">
    <div class="promociones-container">
      <div class="promo-card">
        <h3>Combo Facial + Capilar</h3>
        <p>Relaja tu piel y revitaliza tu cabello en una sola sesión.</p>
        <span class="precio">$750 MXN</span>
        <a href="https://wa.me/524271668565?text=Hola%20quiero%20agendar%20el%20combo%20facial%20capilar" target="_blank" class="btn-promo">Reservar cita</a>
      </div>
      <!-- Agrega más promociones aquí -->
    </div>
  </section>
</body>
</html>
